@import "tailwindcss";

@theme {
  --color-deepGreen: #180D39;
  --color-myGreen: #2A8E9E;
  --color-myBlack: #1d1e20;
  --color-myWhite: #E9F3F4
}



body {
  font-family: Helvetica;
  overflow-x: hidden;
}